{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
    body {
        background: url({% static "img/profile_back.jpg" %}) no-repeat center fixed;
        background-size: cover;
    }
{% endblock %}

{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block content %}

    <div class="wrapper">
    {% if validlink %}
        <form class="profile-form"  method="POST">
            {% csrf_token %}
            <div class="form-header">{% trans "Reset your password" %}</div>
            {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    <div>{{field}}</div>
                    <div class="error">{{field.errors}}</div>
                </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" value="{% trans "Change my password" %}">
            </div>
        </form>
    </div>
    {% else %}
        <div class="form-header" style="margin-top:10px">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset" %}.</div>
    {% endif %}
{% endblock %}